body{
    background-color: rgb(51, 0, 48);
}

h1{
    font-style: italic;
    font-size: 40px;
    color:rgb(161, 177, 18);
    background-color: rgb(80, 0, 0);
    text-align: center;
}

label{
    font-style: italic;
    color: rgb(163, 106, 0);
    display: block;
    float: left;
    width: 80px;
}

.contenedorReloj{
    margin: 100px 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 20px 60px;
    background-color: rgb(211, 147, 9);
    color: rgb(80, 0, 0);
}

#hora{
    font-size: 32px;
}
#fecha{
    font-size: 26px;
}