body{
    background-color: rgb(5, 42, 51);
}
* {
    font-style: inherit
}
h1{
    color:rgb(196, 169, 18);
    font-style: italic;
    background: rgb(2, 34, 2);
    text-align: center; 
}
label{
    color:rgb(196, 169, 18);
    font-style:italic;
}
input{
    border:0px;
    border-radius: 5px;
}
button{
    border:0px;
    border-radius: 5px;
    color:rgb(4, 92, 38);
}