body{
    background-color: rgb(49, 18, 71);
}
* {
    font-style: inherit
}
h1{
    color:aqua;
    font-style: italic;
    background: green;
    text-align: center; 
}
input{
    border:0px;
    border-radius: 5px;
}
button{
    border:0px;
    border-radius: 5px;
    color:red;
}